body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 20px;
    color: #707070;
}

h2 {
    color: black;
    font-weight: bold;
}

.form-group label {
    color: black;
    font-style: italic;
}

.form-control {
    font-weight: bold;
}
